.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  line-height: 90px;
  padding: 20px 0;
}

.main {
  background: #ff8795;

  .content {
    min-height: 100vw;
  }
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 62.5px;
}
