{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "string-quotes": "double",
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "indentation": [
      2,
      {
        "baseIndentLevel": 1
      }
    ]
  }
}
