.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 62.5px;

  .socialButtonWrapper {
    .socialButton {
      width: 44px;
      height: 44px;
      margin-right: 20px;
    }
  }

  .legalText {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
}
