.main {
  .content {
    display: flex;
    justify-content: flex-start;
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 0;
    flex-direction: column;
    align-items: center;

    .title {
      font-weight: 400;
      font-size: 55px;
      line-height: 62px;
      margin: 0 auto 135px;
    }

    .curriculum {
      list-style-type: none;
      margin: 0 auto 0 0;
      padding: 0;

      .curriculumSection {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        margin-bottom: 100px;

        .curriculumSectionTitle {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 44px;
          line-height: 44px;
        }

        .divisor {
          width: 80%;
          height: 2px;
          background: #ef3b50;
          margin-top: 32px;
        }

        .firstCurriculumSection {
          list-style-type: none;
          padding: 0;

          .firstCurriculumItemDescription {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
          }
        }

        .secondCurriculumSection {
          list-style-type: none;
          padding: 0;
          margin-top: 32px;

          .secondCurriculumItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 32px;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;

            .secondCurriculumItemDescription {
              font-weight: 400;
              font-size: 32px;
              line-height: 50px;
            }
          }
        }

        .thirdCurriculumSection {
          max-width: 80%;
          margin-top: 32px;
          padding: 0;
          border-collapse: collapse;
          text-align: center;
          table-layout: fixed;
          width: 100%;

          .tableHeadRow {
            .tableHeadItem {
              font-weight: 600;
              font-size: 32px;
              line-height: 39px;
              border-bottom: 2px solid #ef3b50;
              border-right: 2px solid #ef3b50;
              padding: 20px;
              border-collapse: collapse;
            }
          }

          .tableData {
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            border-right: 2px solid #ef3b50;
            border-collapse: collapse;
            padding: 20px;
            text-align: start;
          }
        }
      }
    }
  }
}
