.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  line-height: 90px;
  padding: 20px 0;
}

.main {
  .content {
    max-width: 917px;
    width: 87%;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .title {
      font-weight: 400;
      font-size: 55px;
      line-height: 62px;
      margin: 0;
    }

    .image {
      margin: 80px auto;
    }

    .description {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      margin: 0;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 62.5px;
}
